.date-time-div{
    padding-right: 0%;
    padding-left: 0%;
}
.start-end-date-label{
padding-right: 0%;
padding-left: 0%;
}
.datetextboxwidth{
    padding-right: 0%;
}
.search-tasks-form{
    padding-left: 3%;
}